extends _template.pug
include ../components/page-header/page-header.pug
include ../components/container/container.pug

block head
	- pageTitle = 'Cat Energy';

block content
	| %=symbols=%
	-
		const activePage = {
			main: {
				href: './index.html',
				title: 'Главная',
				isActive: true,
				}
			}
	+container
		+page-header(Object.assign(siteList, activePage))
