dev

*.bak
*.diff
*.err
*.exe
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~

.DS_Store
._.DS_Store
._*
.cache
Thumbs.db

.git
_design

node_modules
npm-debug.log

.tmpTemplater
.tmpPreproc

.vscode
phantomjsdriver.log
/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*
