// GUI stylies of the project
// For example, styles of the links, buttons and so on.
// Images
//
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

// Links
//
a {
    text-decoration: none;
    background-color: transparent;

    &:link,
    &:visited {
        color: $link-color;
    }

    &:hover {
        color: $link-color--hover;
        transition-duration: 0.3s;
    }

    &:active {
        color: rgba($link-color--hover, 0.3);
        transition-duration: 0s;
    }
}

// Tables
//
table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}
