.page-header {
	position: relative;

	@media #{$tablet} {
		min-height: initial;
		padding-top: 2.4rem;
	}

	@media #{$desktop} {
		padding-top: 5.4rem;
	}
}

.page-header__container {
	@include container();
}

.page-header__inner {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 66px;

	@media #{$tablet} {
		justify-content: space-between;
		min-height: 58px;
	}

	@media #{$desktop} {
		min-height: 59px;
	}
}

.page-header__logo {
	display: block;
	margin: 0;
	padding: 0;

	font-size: 0;

	& img {
		@media #{$tablet} {
			width: 173px;
			height: 58px;

			vertical-align: initial;
		}

		@media #{$desktop} {
			width: 202px;
			height: 59px;
		}

		&:hover {
			opacity: 0.8;
			transition-duration: 0.3s;
		}

		&:active {
			opacity: 0.6;
		}
	}
}

.page-header__title {
	display: none;

	@include margin-x(auto);

	cursor: pointer;

	@media #{$mobile} {
		display: block;

		& img {
			&:hover {
				opacity: 0.8;
				transition-duration: 0.3s;
			}

			&:active {
				opacity: 0.6;
			}
		}
	}
}
