.page-header {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 65px;

	background-color: #ffffff;

	outline: 1px dashed green;

	@media #{$tablet} {
		min-height: initial;
		padding-top: 2.4rem;

		border-bottom-width: initial;
		border-bottom-style: initial;
		border-bottom-color: initial;

		& .main-nav {
			margin-left: auto;
		}
	}

	@media #{$desktop} {
		padding-top: 5.4rem;
	}
}

.page-header__logo {
	& img {
		@media #{$tablet} {
			width: 173px;
			height: 58px;

			vertical-align: initial;
		}

		@media #{$desktop} {
			width: 202px;
			height: 59px;
		}

		&:hover {
			opacity: 0.8;
			transition-duration: 0.3s;
		}

		&:active {
			opacity: 0.6;
		}
	}
}

.page-header__title {
	display: none;
	padding: 0;
	margin: 0;

	@include margin-x(auto);

	cursor: pointer;

	@media #{$mobile} {
		display: block;

		& img {
			&:hover {
				opacity: 0.8;
				transition-duration: 0.3s;
			}

			&:active {
				opacity: 0.6;
			}
		}
	}
}
