.button {
	display: flex;
	justify-content: center;
	min-width: 170px;
	width: auto;

	margin: 0 auto;
	padding: 0;
	padding-top: 1.4rem;
	padding-bottom: 0.8rem;

	font-size: 1.4rem;
	line-height: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;

	background: none;
	background-color: $color-secondary;
	border: 0;

	&:hover,
	&:active {
		background-color: darken($color-secondary, 5%);
	}

	&:hover {
		transition-duration: 0.3s;
	}

	&:active {
		color: transparentize(#ffffff, 0.3);
		transition-duration: 0s;
	}

	@media #{$mobile} {
		min-width: initial;
		width: 100%;
	}

	@media #{$tablet} {
		min-width: 250px;
		padding-top: 2rem;
		padding-bottom: 1rem;

		font-size: 2rem;
		line-height: 2rem;
	}
}
